<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/386270f3-cb63-485e-9466-61103fa4879b/resourcegroups/EStockMarket/providers/Microsoft.Web/sites/EStockMarket20220818</ResourceId>
    <ResourceGroup>EStockMarket</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://estockmarket20220818.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>98eb730d-2028-4cfb-9a53-75d344d1dd0c</ProjectGuid>
    <PublishUrl>https://estockmarket20220818.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EStockMarket20220818</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>